# Application settings
DEBUG=false

# PostgreSQL settings
POSTGRES_CONNECTION_STRING=postgresql+asyncpg://postgres:password@localhost:5432/events_aggregator
POSTGRES_DATABASE_NAME=events_aggregator
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=password

# Events Provider API
EVENTS_PROVIDER_BASE_URL=http://events-provider.dev-2.python-labs.ru
EVENTS_PROVIDER_API_KEY=your-api-key-here

# Sync settings (in hours)
SYNC_INTERVAL_HOURS=24
